:root {
    --primary-color : #c70101;
    --secondary-color: #1a1a1a;
    --white-color: #fff;
    --background-color: #f8f8f8;
    --border-line-color: #2d2d2d;
}

/* Do chưa có kinh nghiệm trong việc phân tích cấu trúc 
,nên viết css vẫn chưa được chính xác,vẫn nhiều vấn đề trong
việc chia css ra các file để đọc,cũng như những gì cần thiết
để ở đâu và chia như thế nào */