@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html using rem */
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size:10px;
    font-family: 'SourceSansProRegular',Helvetica,sans-serif;
    color: var(--white-color);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color:unset;
    display:block;
}

ul {
    list-style: none;
}

/* test overlay */
.overlay {
    display:none;
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: var(--secondary-color);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.19,1,0.22,1),
    display 0.4s ease-in;
    min-height: 5000px; /* fixed rồi mà nhỉ?? */
}
/* grid */
.grid{
    width: 1200px;
}

.grid-full-width {
    width:100%;
}

.grid-row {
    display:flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px
    /* magic number lam ton gan 1h */
}

.grid-column-2 {
    width:49.99999%
}

.grid-column-3 {
    width:33.33333%;
}

.grid-column-5 {
    width:19.99999%;
}

.grid-column-4 {
    width:24.99999%;
}

@keyframes newsHighlight {
    from {
        box-shadow: none;
        transform:scale(1);
    }
    to {
        box-shadow: 2px 3px 3px #c1c1c1;
        transform:scale(1.2rem);
    }
}

/*Drop down arrow */

.drop-down-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #f2f2f2;
    transform: rotate(-180deg);
    content: '';
    position: absolute;
    top:20px;
    right:18px;
    transition: transform ease-in-out 0.02s;
    will-change: rotate;
}

.header-sub-language:hover .drop-down-arrow{
    transform: rotate(0deg);  
}
/* card gradient */
.card-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    height: 70%;
    right: 0;
    margin: 0 auto;
    background: linear-gradient(185deg,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 80%);
}
/* Button */

.btn {
    cursor: pointer;
    border: 1px solid #dcdcdc;
    border-radius: 46px;
    margin-bottom: 1.2rem;
}

.btn.btn-sign-up {
    padding: 0.2rem 1.6rem;
    background-color: #c70101;
    border: none;
}

/* co class chua link nen de padding ben class rieng */
.btn.btn-shop-buy {
    display: inline-block;
    background-color: transparent;
    border-color: #ccc;
    transition: all ease-in 0.2s;
    transition-delay: 0.1s;
}

.btn.btn-shop-buy:hover {
    background-color: #f4f4f5;
    opacity: 1;
}

.btn:hover {
    opacity: 0.85;
}