
/* header */
#header {
    width: 100%;
    height: 120px;
    max-height: 592px;
}

.header__wrapper {
    position: fixed;
    top:0;
    left:0;
    right:0;
    transition: top 0.2s;
    will-change: top;
}

/* SubHeader */
/*language */
.header__sub-section{
    position: relative;
    width: 100%;
    height:46px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__sub-section-left{
    display:flex;
    align-items: center;
    height:100%;
}

.header-sub-language {
    width:104px;
    height:100%;
    padding: 1.5rem 1.5rem 1.5rem 1.3rem;
    position: relative;
    cursor: pointer;
    border-right: 1px solid var(--border-line-color);
}

.header-sub-language .icon-size {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 0 8px 0 5px;
}

.header-sub-language .header-page-language {
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 1.2rem;
}

.header-page-sub-language {
    display:none;
    position: absolute;
    top: 100%;
    left: 20%;
    color: var(--white-color);
    transition: display ease-in 0.3s;
}

.header-sub-language:hover .header-page-sub-language {
    display: block;
}

.sub-language-wrapper {
    width: max-content;
}

.sub-language-option {
    font-size: 1.6rem;
    background: #2a2a2a;
    text-align: left;
    border-bottom: 3px solid var(--border-line-color);
    box-shadow: 1px 1px 3px var(--shadow-color);
}

.sub-language-option:hover {
    background-color:#353535
}

.sub-language-option:last-child {
    box-shadow: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.sub-language-link {
    display:block;
    padding: 1.2rem 1.6rem 1.2rem 0.8rem;
}

/* sign in */
.header-sub-sign-in{
    height:100%;
    line-height: 2.2rem;
    padding: 1.2rem 2.4rem 1.2rem 0.8rem;
    cursor:pointer;
    padding-left:1.6rem;
    position: relative;
}

.header-sub-sign-in:hover {
    width: 206px;
    background-color: #262626;
}

.sign-in-section {
    color: var(--white-color);
    font-size: 1.5rem;
}

.sign-in-title {
    padding-left: 0.8rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
}

.sign-in__options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index : 1;
    padding: 1.6rem;
    width: 206px;
    background-color: #2a2a2a;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align:center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-sub-sign-in:hover .sign-in__options {
    display: block;
}

.sign-in-option {
    line-height:46px;
    font-size: 1.3rem;
    font-weight:600;
}

/* Right sub header */
.header__sub-section-right,.primary-sponsor-wrapper {
   height:100%;
}

.header__sub-section-right {
   width: 350px;
}

.primary-sponsor-wrapper {
    width: 100%;
}

.sponsor-list {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .sponsor-logo {
    
} */

.sponsor-logo a {
    display: block;
    height: 100%;
    /* padding-top: 1.2rem;
    padding-right: 2.2rem; */
}

.sponsor-logo img {
    object-fit: contain;
    height: auto;
    max-height: 26px;
    max-width:120px;
}

/* header section main new navigation */
.header__section-main {
    height: 74px;
    background-color: var(--primary-color);
    position: initial;
    top: 0;
    left: 0;
    right: 0;
    z-index:2;
}
/* Left section for content */
.header__section-main__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
}

.header__section-content{
    display: flex;
    flex: 1;
    align-items: center;
    height:100%;
}

.header-main-logo__wrapper {
    max-width:110px;
    padding: 0.8rem 2.6rem 0.8rem 1.8rem;
}

/* .header-main-logo{
    width: 100%;
    height:100%;
} */

.header-logo {
    width:60px;
    height: 60px;
    background: url("../images/logo/Club_logo/MU_logo.png") no-repeat center /cover;
}

.header-main-content-wrapper{
    flex-basis : 720px;
    height: 74px;
}

.header-main-content {
    height:100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav-content__title {
    height: 100%;
}

.content-title {
    height:100%;
    font-family: 'Archivo', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    text-shadow:0 0 1px #c1c1c1;
    padding: 3rem 0 2.3rem;
    margin-right: 1.2rem;
    transition: border-bottom linear 0.1s, forwards;
    will-change: border-bottom;
    border-bottom: 5px solid transparent;
}

.content-title:hover{
    /* border-bottom: 4px solid var(--white-color); */
    animation: ImHover linear 0.3s forwards;
}

/* searching section */
.header__section-searching{
    height:100%;
}

.header__section-searching__wrapper{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searching-icon {
    line-height: 74px;
    font-size:1.5rem;
}

.searching-title {
    font-size:1.3rem;
    font-weight:400;
    margin-right: 1.6rem;
    margin-left: 0.8rem;
}

.poweredby-section {
    border-radius: 3px;
    margin-left:1rem;
    margin-right: 1.4rem;
    height:24px;
    width: 120px;
    background-color: var(--secondary-color);
    position: relative;
}

.poweredby-title{
    display: inline-block;
    color: var(--white-color);
    font-size: 1rem;
    /* padding-left: 0.8rem; */
    line-height: 1.3rem;
    /* margin: 0.6rem 0.1rem 0 0; */
    position : absolute;
    top: 25%;
    left: 10%;
    transform: translateX(-5%);
}

.poweredby-sponsor {
    height: auto;
    width: auto;
    max-width: 42px;
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
    position : absolute;
    right: 20%;
    transform: translateX(35%);
    bottom: 30%;
}
                        /*MODAL*/
/* Modal from header navigation*/
.content-modal__container {
    display: none;
    position: absolute;
    left:0;
    right:0;
    top:100%;
    height: 440px;
    max-height: 480px;
    transition: display 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.content-modal {
    padding: 2.6rem 2.4rem 2.4rem 11rem;
    margin : 0 auto;
    height: initial;
    position: absolute;
    left:0;
    right:0;
    top:0;
    background-color: var(--white-color);
}

.header-main-content li:hover .content-modal__container{
    display: block;
}

.content__nav-modal {
    display: flex;
    flex-wrap: wrap;
}

.content__nav {
    width: calc(100% /6);
    padding: 0 1.2rem 1.2rem 0;
}
.content__nav.more-content__nav {
    width: calc(100% /5);
}

.content__nav-title {
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 0.8rem;
    color: var(--secondary-color);
    /* font-weight: bold; */
}

.content__nav-title.more-content {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.1rem;
    margin-bottom: 0.4rem;
}

.content__nav-title:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    height: 1px;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    will-change: opacity , width;
    opacity: 0;
    background-color: var(--primary-color);
}

.content__nav-title:hover:before {
    width: 100%;
    opacity: 1;
}

/*card content in modal*/
/* .card__wrapper {
    width: 100%;
    height: auto;
} */

/*START: Card content && Card video sharing same css */
.card-title {
    cursor:text;
    font-size: 1.5rem;
    font-weight:600;
    font-style: italic;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin: 1.6rem 0 1.2rem 0;
}

.content-card,.video-card,.ticket-card{
    cursor: pointer;
    padding-top: 70%;
    position: relative;
    border-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: zoomIn 0.3s ease-in-out,
    box-shadow cubic-bezier(0.58,0.48,1,0) 0.4s; /* smaller number the quicker */
    transform-origin: center;
    margin-left: 6px;
    margin-right: 12px;
}

.content-card:hover,.video-card:hover,
.ticket-card:hover {
    animation : zoomIn ease-in 0.5s forwards;
    box-shadow: 0px 15px 10px rgb(212 212 212);
}
/* content background image */
.grid-row .grid-column-3:first-child .content-card{
    background: url("../images/news/1.jpg")
    no-repeat top center /cover;
}

.grid-row .grid-column-3:nth-child(2) .content-card { 
    background: url("../images/news/2.jpg")
    no-repeat top center/cover;
}

.grid-row .grid-column-3:last-child .content-card{
    background: url("../images/news/3.jpg")
    no-repeat top center/cover;
}
/* video background image */
.grid-row .grid-column-3:first-child .video-card {
    background: url("../images/news/4.jpg")
    no-repeat top center/cover;
}

.grid-row .grid-column-3:nth-child(2) .video-card {
    background: url("../images/news/5.jpg")
    no-repeat top center/cover;
}

.grid-row .grid-column-3:last-child .video-card {
    background: url("../images/news/6.jpg")
    no-repeat top center/cover;
}

/*END: Card content && Card video sharing same css */

/*Card content */

.content-card__title__wrapper{
    position: absolute;
    z-index: 5;
    left: 6%;
    bottom: 10%;
    right: 8%;
    transform: translateY(20%);
}

.content-card__title__wrapper::before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    width: 25%;
    height: 2px;
    background-color: var(--primary-color);
    transition: width linear 0.3s;
    will-change: width;
    z-index: 3;
}

.content-card:hover .content-card__title__wrapper::before{
    animation: borderslideIn cubic-bezier(0.4, 0, 0.2, 1) 0.4s forwards;
}

.content-card__title,.video-card__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px var(--primary-color);
}

.content-card__sub-title {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
}

/* card video */
.video-card__title__wrapper {
    position: absolute;
    left: 6%;
    bottom: 5%;
    right: 8%;
    z-index: 5;
}

.play--button {
    position: relative;
    margin-bottom: 1.2rem;
    height: 52px;
    width: 52px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

/* .play--button:hover {
    height: 58px;
    width: 58px;
} */

.icon-play {
    content: "";
    width: 0;
    height:0;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 14px solid var(--white-color);
}

/* Shop Card */
.shop-card {
/*The problem is that width=100% would give photo-caption exact width of article-container; adding margins (or padding) would not affect width calculation. You can do this yourself using the css calc() so the style become */
    height: 300px;
    max-height:310px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #f7f7f7;
    margin: 0 6px;
}

.shop-card:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
}

.shop-card__img__wrapper {
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    width: 60%;
    height: 114px;
}
/*BG image */
.grid-row .grid-column-3:first-child .shop-card__img__wrapper{
    background: url(../images/shop/HomeKit2013_2014.jpg)
    no-repeat top center/ contain;
}
.grid-row .grid-column-3:nth-child(2) .shop-card__img__wrapper{
    background: url(../images/shop/HomeKit2003_2004.jpg)
    no-repeat top center/ contain;
}
.grid-row .grid-column-3:last-child .shop-card__img__wrapper{
    background: url(../images/shop/ThirdKit_2020_2021.jpg)
    no-repeat top center/ contain;
}

.shop-card-info {
    display:inline-block;
    height: calc(100% - 114px);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.best-seller--item-name  {
    margin: 0.4rem auto 1.4rem auto;
    width: 70%;
    color: var(--text-shadow-color);
    font-size: 1.5rem;
}

.shop-now-nav{
    display:block;
    padding: 1.4rem 1.4rem;
}

.shop-now {
    color: var(--text-shadow-color);
    font-size: 1.35rem;
    font-weight: 600;
}

/* fixture card */
.fixture-card {
    /* width: 100%; */
    height: 300px;
    max-height:310px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #f7f7f7;
    margin: 0 6px;
}

.fixture-card:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
}

.fixture-card-league__wrapper {
    margin-top: 2rem;
    display: inline-block;
    max-height: 42px;
    width: 40%;
}

.league__img{
    width: 100%;
    height: 100%;
}

.fixture-card-info__wrapper {
    height: 40px;
    margin-bottom: 0.4rem;
}

.card-time-match--info,.card-place-match--info {
    color: var(--text-shadow-color);
    font-size: 1.35rem;
    font-weight: 600;
}

.match-team--info-logo {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.4rem;
}

.team-logo-wrapper{
    display: inline-block;
    height: auto;
    width: 60px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.team-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.match-team--info-logo .match-time,
.match-team--info-logo .match-final-score {
    display: inline-block;
    height: 46px;
    width: 76px;
    padding: 1rem 0;
    font-size: 2.6rem;
    background-color: #707070;  
    color: var(--white-color);
    border-radius: 5px;
    font-weight: 600;
    line-height: 2.6rem;
}

.match-team--info-logo .match-final-score {
    background-color: #000;
    color: var(--white-color); 
}

.match-team-info--detail {
    height: calc(100% -60%);
    width: 90%;
    margin: 0 auto;
}

.team-info-name--first,
.team-info-name--second {   
    display: block;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.team-versus {  
    text-transform: uppercase;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #f2f2f2;
    justify-self: center;
    margin: 0.6rem 0;
    padding: 0.3rem;
    transform: skew(5deg);
}

/* Ticket card */
.grid-row .grid-column-3:first-child .content-card.ticket-section {
    background: url("../images/news/7.jpg") 
    no-repeat top center/ cover;
}
.grid-row .grid-column-3:nth-child(2) .content-card.ticket-section {
    background: url("../images/news/8.jpg") 
    no-repeat top center/ cover;
}
.grid-row .grid-column-3:last-child .content-card.ticket-section {
    background: url("../images/news/9.jpg") 
    no-repeat top center/ cover;
}

/* keyframes aniamtion */
@keyframes ImHover {
    from { 
        border-bottom: 4px solid transparent;
    }
    to {
        border-bottom: 4px solid var(--white-color);
    }
}

@keyframes zoomIn {
    from{
        background-size: 100%;
    }
    to {
        background-size: 105%;
    }
}

@keyframes borderslideIn{
    0% {
        width: 1%;
    }25% {
        width: 10%;
    }50% {
        width: 15%;
    }75% {
        width: 20%;
    }100% {
        width: 25%;
    }
}
/* My united section nav */
.log-in-navbar {
    font-weight:  bold;
    font-size: 1.2rem;
    color: var(--secondary-color);
}
.grid-row .grid-column-3:first-child .content-card.MU-section { 
    background: url("../images/news/10.jpg")
    no-repeat top center/cover;
}

.grid-row .grid-column-3:last-child .content-card.MU-section{
    background: url("../images/news/8.jpg")
    no-repeat top center/cover;
}
/* Fan section nav */
.grid-row .grid-column-3:first-child .content-card.Fan-section{
    background: url("../images/news/11.jpg")
    no-repeat top center/cover;
}
.grid-row .grid-column-3:nth-child(2) .content-card.Fan-section{
    background: url("../images/news/12.jpg")
    no-repeat top center/cover;
}
.grid-row .grid-column-3:last-child .content-card.Fan-section{
    background: url("../images/news/13.jpg")
    no-repeat top center/cover;
}

/* Player section nav */ 
.grid-row .grid-column-3:first-child .content-card.Player-section{
    background: url("../images/news/14.jpg")
    no-repeat top center/cover;
}
.grid-row .grid-column-3:last-child .content-card.Player-section{
    background: url("../images/news/15.jpg")
    no-repeat top center/cover;
}
/* Old Trafford section nav */
.grid-row .grid-column-3:first-child .content-card.Old-Trafford-section{
    background: url("../images/news/16.jpg")
    no-repeat top center/cover;
}
.grid-row .grid-column-3:last-child .content-card.Old-Trafford-section{
    background: url("../images/news/17.jpg")
    no-repeat top center/cover;
}
/* More content nav */
.more-content-wrapper {
    margin-top: 0.4rem;
}
.list-more-content:first-child {
    margin-top: 1.2rem;
}

.list-more-content{
    margin-bottom: 0.8rem;
}

.list-more-content-link {
    display: inline-block;
    max-width: 100%;
    position: relative;
    font-size: 1.6rem;
    color: var(--secondary-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-more-content-link::before {
    content: "";
    width:0;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    will-change: opacity , width;
    opacity: 0;
}

.list-more-content-link:hover::before{
    width: 100%;
    opacity: 1;
}


