:root {
    --primary-color : #c70101;
    --secondary-color: #1a1a1a;
    --border-line-color: #2d2d2d;
    --text-shadow-color: rgba(26, 26, 26,0.75);
    --white-color: #fff;
    --shadow-color: #ccc;
    --background-color: #f8f8f8;
}

